global
    user haproxy
    group haproxy

defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms

frontend kubernetes
    bind 94.130.177.158:6443
    mode tcp
    default_backend k8s-masters

backend k8s-masters
    server master2 116.203.41.113:6443 check fall 3 rise 2
    server master1 116.203.80.150:6443 check fall 3 rise 2
    mode tcp
    balance roundrobin
    option tcp-check
